<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>

    <!--Link de boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
        .custom-image {
            width: 200px; 
            height: auto; 
        }
    </style>
</head>
<body>


    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="vistaUrl">Guia De Trabajo Semana 17</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="clienteUrl">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page">Ventas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="empleadosUrl">Empleados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="areaUrl">Área</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      
      <!--Tabla-->
    <div style="justify-content: center; margin: 50px auto; width: 70%;">
        <h1 style="text-align: center;">Ventas</h1>
        <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha De Venta</th>
                <th scope="col">Monto</th>
                <th scope="col">ID Del Cliente</th>
                <th scope="col">ID Del Empleado</th>
              </tr>
            </thead>
            <tbody>
            {%for ventaFor in ventaT %}
              <tr>
                <th scope="row">{{ventaFor.id}}</th>
                <td>{{ventaFor.fecha_venta}}</td>
                <td>{{ventaFor.monto}}</td>
                <td>{{ventaFor.clienteId}}</td>
                <td>{{ventaFor.empleadoId}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      
</body>
</html>

